html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  padding: 0; }

.page {
  margin: 0 auto;
  width: 100%; }
  .page__containter {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px; }
  .page__slider {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px; }

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 3px 5px -1px #dedede; }
  .header__block {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1140px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0px 0px;
    background-color: #ffffff;
    padding-top: 27px;
    padding-bottom: 28px; }

.logo__img {
  display: block; }

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.nav__link {
  padding-left: 46px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #777777;
  background-color: #FFFFFF;
  text-decoration: none; }

.nav__link_active {
  position: relative;
  color: black; }
  .nav__link_active:before {
    position: absolute;
    content: "";
    height: 1px;
    width: 20px;
    left: 7px;
    top: 8px;
    background: black; }

.slider__item {
  position: relative;
  padding-top: 650px; }

.slider__content {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  padding-top: 0;
  top: 263px;
  left: 448px; }

.slider__title {
  margin: 0;
  margin-bottom: 32px;
  padding-left: 44px;
  padding-right: 38px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 4.7px;
  line-height: 48px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000; }

.slider__text {
  margin: 0;
  padding-left: 11px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 7.2px;
  color: #000000;
  text-transform: uppercase; }
